<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlhj.guanggou.mapper.CombinationTopicMapper" >
  <resultMap id="BaseResultMap" type="com.hlhj.guanggou.po.CombinationTopicKey" >
    <id column="combination_id" property="combinationId" jdbcType="CHAR" />
    <id column="topic_id" property="topicId" jdbcType="CHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.hlhj.guanggou.po.CombinationTopicKey" >
    delete from t_combination_topic
    where combination_id = #{combinationId,jdbcType=CHAR}
      and topic_id = #{topicId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.hlhj.guanggou.po.CombinationTopicKey" >
    insert into t_combination_topic (combination_id, topic_id)
    values (#{combinationId,jdbcType=CHAR}, #{topicId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hlhj.guanggou.po.CombinationTopicKey" >
    insert into t_combination_topic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="combinationId != null" >
        combination_id,
      </if>
      <if test="topicId != null" >
        topic_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="combinationId != null" >
        #{combinationId,jdbcType=CHAR},
      </if>
      <if test="topicId != null" >
        #{topicId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>