<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.1.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">
	
	<bean id="idGenerator" class="com.hlhj.guanggou.id.impl.DefaultIdGenerator"></bean>
	<bean id="combinationService" class="com.hlhj.guanggou.service.impl.CombinationServiceImpl"></bean>
	<bean id="userFavoriteService" class="com.hlhj.guanggou.service.impl.UserFavoriteServiceImpl"></bean>
	<bean id="adornmentService" class="com.hlhj.guanggou.service.impl.AdornmentServiceImpl"></bean>

	<bean id="promotionService" class="com.hlhj.guanggou.service.impl.PromotionServiceImpl">
		<property name="activityRuleBeanName" value="${activity.rule.beans}" />
		<property name="ruleFiltersBeanName" value="${activity.filter.beans}" />
	</bean>
</beans>